<!-- <div class="col-md-12 mt-5" style="text-align: center;display: inline-flex;"> -->
<div class="col-md-12 mt-5" style="text-align: center;display: inline-flex;">
    <div class="col-md-4 mt-5">
        <div class="card" style="border: 1 none !important;">
            <div class="card-body">
                <div class="card-title"><img class="d-block mx-auto" width="100" height="100"
                        src="../../assets/images/logo.png" /></div>
                <h3 class="card-subtitle mb-2 text-muted" style="margin-top: 10px;">Warren Account - {{name}}</h3>
                <h5 class="card-text">Account Ballance: R$ {{accountBalance}}</h5>
                <hr />
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <div class="mb-0" style="text-align: center;">
                                <button class="btn btn-light collapsed" style="color: blue;" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Deposit
                                </button>
                            </div>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordion">
                            <form  [formGroup]="depositForm" (ngSubmit)="onSubmitDeposit()">
                                <div class="form-group row">
                                    <label for="depositAmount" class="col-sm-4 col-form-label"
                                        style="text-align: right; padding-top: 13px;">Amount:</label>
                                    <div class="col-sm-4" style="padding-top: 7px;">
                                        <input type="number" min="0" formControlName="depositAmount" class="form-control"
                                            width="2px"
                                            [ngClass]="{ 'is-invalid': submittedDeposit && fd.depositAmount.errors }" />
                                        <div *ngIf="submittedDeposit && fd.depositAmount.errors" class="invalid-feedback">
                                            <div *ngIf="fd.depositAmount.errors.required">Amount is required</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4" style="padding-top: 10px;">
                                        <button [disabled]="loading" class="btn btn-primary">
                                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                            Deposit
                                        </button>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <div class="mb-0" style="text-align: center;">
                                <button class="btn btn-light collapsed" style="color: blue;" data-toggle="collapse"
                                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Withdraw
                                </button>
                            </div>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <form  [formGroup]="withdrawForm" (ngSubmit)="onSubmitWithdraw()">
                                <div class="form-group row">
                                    <label for="withdrawAmount" class="col-sm-4 col-form-label"
                                        style="text-align: right; padding-top: 13px;">Amount:</label>
                                    <div class="col-sm-4" style="padding-top: 7px;">
                                        <input type="number" min="0" formControlName="withdrawAmount" class="form-control"
                                            width="2px"
                                            [ngClass]="{ 'is-invalid': submittedWithdraw && fw.withdrawAmount.errors }" />
                                        <div *ngIf="submittedWithdraw && fw.withdrawAmount.errors" class="invalid-feedback">
                                            <div *ngIf="fw.withdrawAmount.errors.required">Amount is required</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4" style="padding-top: 10px;">
                                        <button [disabled]="loading" class="btn btn-primary">
                                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                            Withdraw
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <div class="mb-0" style="text-align: center;">
                                <button class="btn btn-light collapsed" style="color: blue;" data-toggle="collapse"
                                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Payment
                                </button>
                            </div>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordion">
                            <form  [formGroup]="paymentForm" (ngSubmit)="onSubmitPayment()">
                                <div class="form-group row">
                                    <label for="paymentAmount" class="col-sm-4 col-form-label"
                                        style="text-align: right; padding-top: 13px;">Amount:</label>
                                    <div class="col-sm-4" style="padding-top: 7px;">
                                        <input type="number" min="0" formControlName="paymentAmount" class="form-control"
                                            width="2px"
                                            [ngClass]="{ 'is-invalid': submittedPayment && fp.paymentAmount.errors }" />
                                        <div *ngIf="submittedPayment && fp.paymentAmount.errors" class="invalid-feedback">
                                            <div *ngIf="fp.paymentAmount.errors.required">Amount is required</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4" style="padding-top: 10px;">
                                        <button [disabled]="loading" class="btn btn-primary">
                                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                            Payment
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div style="text-align: center;">
                    <button type="button" class="btn btn-link">Logout</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mt-5">

        <div class="card" style="border: 1 none !important;">
            <div class="card-body">
                <div class="card-title"></div>
                <h3 class="card-subtitle mb-2 text-muted" style="margin-top: 10px;"></h3>
                <h5 class="card-text">Daily Income</h5>
                <hr />

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Date</th>
                            <th scope="col">Type</th>
                            <th scope="col">Ammount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>24/04/2020</td>
                            <td>Deposit</td>
                            <td>R$ 500,00</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>28/04/2020</td>
                            <td>Payment</td>
                            <td>R$ 50,00</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>27/04/2020</td>
                            <td>Withdraw</td>
                            <td>R$ 200,00</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="col-md-4 mt-5">

        <div class="card" style="border: 1 none !important;">
            <div class="card-body">
                <div class="card-title"></div>
                <h3 class="card-subtitle mb-2 text-muted" style="margin-top: 10px;"></h3>
                <h5 class="card-text">Account Movements</h5>
                <hr />

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Date</th>
                            <th scope="col">Type</th>
                            <th scope="col">Ammount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of accountMovements">
                            <th scope="row">{{item.id}}</th>
                            <td>{{item.operationDate}}</td>
                            <td>{{item.accountOperation}}</td>
                            <td>R$ {{item.amount}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>